* {
    primary: #5f621a;
    primary-fixed: #e5e891;
    primary-fixed-dim: #c8cc78;
    on-primary: #ffffff;
    on-primary-fixed: #1c1d00;
    on-primary-fixed-variant: #474a01;
    primary-container: #e5e891;
    on-primary-container: #1c1d00;
    secondary: #5f6043;
    secondary-fixed: #e5e5c0;
    secondary-fixed-dim: #c9c9a5;
    on-secondary: #ffffff;
    on-secondary-fixed: #1c1d06;
    on-secondary-fixed-variant: #47482d;
    secondary-container: #e5e5c0;
    on-secondary-container: #1c1d06;
    tertiary: #3c6658;
    tertiary-fixed: #bfecda;
    tertiary-fixed-dim: #a3d0bf;
    on-tertiary: #ffffff;
    on-tertiary-fixed: #002118;
    on-tertiary-fixed-variant: #244e41;
    tertiary-container: #bfecda;
    on-tertiary-container: #002118;
    error: #ba1a1a;
    on-error: #ffffff;
    error-container: #ffdad6;
    on-error-container: #410002;
    surface: #fdfaec;
    on-surface: #1c1c14;
    on-surface-variant: #48473b;
    outline: #797869;
    outline-variant: #c9c7b6;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #313128;
    inverse-on-surface: #f4f1e4;
    inverse-primary: #c8cc78;
    surface-dim: #dddacd;
    surface-bright: #fdfaec;
    surface-container-lowest: #ffffff;
    surface-container-low: #f7f4e6;
    surface-container: #f1eee1;
    surface-container-high: #ebe8db;
    surface-container-highest: #e5e3d6;
}
